<!DOCTYPE html>
<html>
    <head>
        <title>YardLog</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>
    
    <div class="container">
       
    </div>
    
    <div id="landing-header">
 		<h1>Welcome to YardLog!</h1>
		<a href="/yards" class="btn btn-lg btn-success">View All Yards</a>
    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

<%- include("partials/footer") %>












<!-- 
<%- include("partials/header") %>

<h1>This is Landing Page</h1>

<p>Welcome to YelpCamp</p>

<a href="/campgrounds">View All Campgrounds</a>

<%- include("partials/footer") %> -->