<%- include("../partials/header") %>


<div class = "container">

	<header class="jumbotron">
		<div>
			<h1>Welcome to YardLog</h1>
			<!-- <p>View yards</p> -->
			<p>
				<a class = "btn btn-primary btn-large" href="/yards/new">Add New Yard</a>
			</p>
		</div>
	</header>

	<div class ="row text-center" style="display:flex; flex-wrap: wrap;">
		<%  yards.forEach(function(yard){ 	%>
			<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
					<div class="caption">
						<h4><%= yard.name %>	</h4>
					</div>
					<p>
						<a href="/yards/<%= yard._id %>" class="btn btn-primary">More Info</a>
					</p>
				</div>
				
			</div>
		<% });	%>
	</div>
</div>


<%- include("../partials/footer") %>