<%- include("../partials/header") %>


<div class = "container">

	<header class=" text-center">
			<h1><i class="fas fa-archive"></i>     Welcome to YardLog
      <a class = "btn btn-primary btn-large btn-new-yard" href="/yards/new">   Add New Yard</a>
     </h1>
  </header>
  <div id="map-all-yards">

  </div>

  <table id="yardTable" class="table table-striped table-bordered table-sm" 
    data-show-export="true"
    data-export-data-type = "selected"
    data-export-types =  "['txt', 'excel', 'pdf']" 
    data-show-columns="true"
    data-toggle="table"
    data-url="/yards-data"
    data-pagination="true"
    data-page-size="All"
    data-page-list="[5, 10, 50, 100, All]"
    data-search="true"
    data-click-to-select="true"
    data-method="post">
    <thead class="thead-dark">
      <tr>
        <th data-field="state" data-checkbox="true"></th>
        <th data-field="name" data-sortable="true">Name</th>
        <th data-field="area" data-sortable="true">Area</th>
        <th data-field="latitude"  data-visible="false">Latitude</th>  
        <th data-field="longitude"  data-visible="false">Longitude</th>  
        <th data-field="description"  data-visible="false">Description</th>  
        <th data-field="hives"  data-visible="false">Hives #</th>  
        <th data-field="inUse"  data-visible="false">In Use</th>  
        <th data-field="_id"  data-formatter="infoDetails">More Info</th>
      </tr>
    </thead>
  </table>

</div>



<script>

  function infoDetails(value) {
    return  '<a href="/yards/'+value + '" class="btn btn-primary">More Info</a>'
  }
</script>





<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBWOJt7L128lpnmTMsah29GuWTOh0vuZk&callback=initMap">
</script>
<script>
  // Initialize and add the map
  function initMap() {
   
    var latitude =  54.208562;
    var longitude = -111.352344;
    var name = "name";
    // The location of yard
    var yardLocation = {lat: latitude, lng: longitude};

    // The map, centered 
    var map = new google.maps.Map(document.getElementById('map-all-yards'), {zoom: 9, center: yardLocation,mapTypeId: google.maps.MapTypeId.HYBRID});
   
    <% if(yards){
      var row = 1;
      yards.forEach(function(yard){  %>
        latitude  = <%= yard.latitude %>;
        longitude = <%= yard.longitude %>;
     

        // The location of yard
        yardLocation = {lat: latitude, lng: longitude};
        var marker = new google.maps.Marker({position: yardLocation, map: map});
        //var marker = new google.maps.Marker({position: yardLocation, map: map, title: name});

      <% }); 
        
    } %>
         
  }
</script>


<%- include("../partials/footer") %>